/* ===>NUNITO FONTS <=== */
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Nunito/static/Nunito-ExtraLight.ttf) format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Nunito/static/Nunito-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Nunito/static/Nunito-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Nunito/static/Nunito-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/Nunito/static/Nunito-ExtraBold.ttf) format("truetype");
}

/* ===> KANIT <=== */
@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Kanit/Kanit-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Kanit/Kanit-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Kanit/Kanit-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/fonts/Kanit/Kanit-ExtraLight.ttf) format("truetype");
}

body {
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;
}
